@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.jobList{
   background: $lightGrayishCyan;
   padding: 20px;
   min-height: 100vh;
    ul{
       @include container; 
    }
}